<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}" />
<title>Sklep internetowy</title>
</head>

<body>
    <div id="page">
        
        <div id="header">
            <h1>Sklep z filami</h1>
            <h2>Filmy w jakości HD dostarczone po zakupie w formie linku do pobrania!</h2>
            
      </div>
  <div id="bar">
            <div class="link"><a href="{{ path('') }}">Główna</a></div>
            <div class="link"><a href="{{ path('_new')}}">Dodaj Film</a></div>
            <div class="link"><a href="{{ path('fos_user_registration_register')}}">Rejestracja</a></div>
            <div class="link"><a href="{{ path('fos_user_security_login')}}">Logowanie</a></div>
            <div class="link"><a href="#">Zamówienia</a></div>
            <div class="link"><a href="{{ path('fos_user_security_logout')}}">Wyloguj</a></div>
      </div>
        

        <div class="contentTitle"><h1>Template Usage</h1></div>
        <div class="contentText">
        {% block body %}{% endblock %}
         
        </div>
        <div class="contentTitle"><h1>Another Title Goes Here!</h1></div>
        <div class="contentText">
          <p>This particular template goes not have a naviagation panel; it was intended for simple sites.   I am also making a version of this template with navigation, check out <a href="http://www.bryantsmith.com">BryantSmith.com</a> to get it.</p>
          <p>&nbsp;</p>
          <p><a href="index.html">(read more)</a></p>
        </div>
        <div class="contentTitle"><h1>Yet Another?</h1></div>
        <div class="contentText">Each title is an H1 tag, so choose them carefully :)</div>  
        </div>
        <div id="footer">Paweł Zawadzki & Marcin Płatek || PP5 || Prowadzący Jakub Kanclerz</div>
</body>
</html>
