{% extends '::base.html.twig' %}

{% block body -%}
    <div class="contentTitle"><h1>Lista transakcji</h1></div>
<hr style="margin-left : 12px; margin-right:12px">
  <div class="contentText">
    <table class="records_list" style="width:100%">
        <thead>
            <tr>
                <th>Id trnaskacji</th>
                <th>Imie i nazwisko</th>
                <th>Email</th>
                <th>Tytuł filmu</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('purchase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.movietitle }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    {% endblock %}
