{% extends '::base.html.twig' %}

{% block body -%}
    <div class="contentTitle"> <h1>Lista filmów</h1> </div>
    <hr style="margin-left : 12px; margin-right:12px">
        {% for entity in entities %}
            <div class="contentTitle"><h1>{{ entity.title }}</h1></div>
            <div class="contentText">
                <div style="display:inline-block; vertical-align:top"><img style="width:150px" src="{{ asset(entity.img) }}"></div>
                <div style="display:inline-block; vertical-align:top">
                    <p>Opis: {{ entity.description}}</p>
                    <p>Cena: {{ entity.price }}</p>
                    <p>Dodane dnia: {% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</p>
                    <p><a href="{{path('purchase_new', {id:entity.id})}}">Zakup</a></p>
                </div>
            </div>
        <hr style="margin-left : 12px; margin-right:12px">
        {% endfor %}
  
    {% endblock %}
